@model IEnumerable<WebApplication4.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des Livres</h1>

<!-- Formulaire de recherche -->
<form id="searchForm" class="mb-3">
    <p>
        Titre ou Auteur: <input type="text" id="searchString" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" />
    </p>
</form>

<!-- Bouton pour créer un nouveau livre -->
<p>
    <a asp-action="Create" class="btn btn-primary">Créer Nouveau</a>
</p>

<!-- Table des livres -->
<div id="booksTable">
    @Html.Partial("_BookListPartial", Model)
</div>

<!-- Bouton Retour à la liste des livres -->
<div class="text-center mt-4">
    <a asp-action="Index" class="btn btn-secondary">Retour à la liste des livres</a>
</div>

<!-- JavaScript pour gestion AJAX -->
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#searchString').on('input', function() {
                var searchValue = $(this).val();

                $.ajax({
                    url: '@Url.Action("Index", "Books")', // Remplacez "Books" par le nom de votre contrôleur si nécessaire
                    data: { searchString: searchValue },
                    success: function(result) {
                        $('#booksTable').html(result);
                    }
                });
            });
        });
    </script>
}